<?php
define('DB_HOST', '${DB_HOST}');
define('DB_NAME', '${DB_NAME}');
define('DB_USER', '${DB_USER}');
define('DB_PASS', '${DB_PASS}');
define('JWT_SECRET', '${JWT_SECRET}');
define('MAIL_FROM', '${MAIL_FROM}');
define('APP_URL', 'https://erp.horizon-sa.net');
define('ALLOWED_ORIGINS', 'https://erp.horizon-sa.net');
define('ADMIN_EMAILS', '${ADMIN_EMAILS}');
define('PLATFORM_OWNER_EMAIL', '${PLATFORM_OWNER_EMAIL}');
define('SETUP_SECRET', '${SETUP_SECRET}');
